version: "3"

services:
        pastQuestionDb:
                image: mysql
                volumes:
                        - pastQuestionVolume:/var/lib/mysql
                restart: always
                container_name: pastQuestionDb
                environment:
                        MYSQL_ROOT_PASSWORD: F_2324@a
                        MYSQL_DATABASE: pastQuestion
                networks: 
                        pastQuestionNetwork:
                                ipv4_address: 172.29.0.2


        pastQuestionServer:
                image: go-api-server
                depends_on: 
                        - pastQuestionDb
                restart: always
                container_name: pastQuestionServer
                volumes: 
                        - /home/higuruchi/App/Golang/pastQuestions:/home
                ports:
                        - 8080:8080
                tty: true
                networks:
                        pastQuestionNetwork:
                                ipv4_address: 172.29.0.3

        pastQuestionFrontServer:
                image: node
                depends_on:
                        - pastQuestionServer
                restart: always
                container_name: pastQuestionFrontServer
                volumes:
                        - /home/higuruchi/App/Golang/pastQuestions/front:/home/
                ports:
                        - 3000:3000
                tty: true
                networks:
                        pastQuestionNetwork:
                                ipv4_address: 172.29.0.4


        reverse-proxy:
                image: nginx-pastquestion
                networks: 
                        pastQuestionNetwork:
                                ipv4_address: 172.29.0.5
                depends_on: 
                        - pastQuestionFrontServer
                restart: always
                ports:
                        - 80:80
                tty: true

networks:
        pastQuestionNetwork:
                name: pastQuestionNetwork
                driver: bridge
                ipam:
                        driver: default
                        config:
                                - subnet: 172.29.0.0/24
volumes: 
        pastQuestionVolume:
