#main {
    margin-top: 50px;
}

#main ul.classes li {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    min-height: 50px;
    width: 600px;
    cursor: pointer;
    font-size: 20px;
    color: #3285a3;
    border: 2px solid;
    border-radius: 10px;
}

/* details summary::-webkit-details-marker {
    display: none;
} */

details summary {
    cursor: pointer;
}

details summary {
    list-style: none;
}

#rightWrapper {
    padding-left: 200px;
}