body {
    margin: 0;
    /* display: flex; */
    min-height: 100vh;
}
main {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

aside {
    /* width: 20%; */
    min-width: 250px;
    display: flex;
    flex-direction: column;

    position: absolute;
    left: -250px;
    height: 100%;
    transition: all 0.2s;
    background: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div.sideFooter{
    margin-top: auto;
    height: 300px;
}

.navIconWrap {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 1px #333;
    transition: all 0.2s;
    background: #ffffff;
    border: 1px solid;
}
.navIcon {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
}
.navIcon span{
    content: "";
    display: block;
    width: 60%;
    border-top: 1px solid #555;
    position: absolute;
    top: 30%;
    left: 20%;
    transition: .3s all;
}
.navIcon span:nth-child(2){
    top: 50%;
}
.navIcon span:nth-child(3){
    top: 70%;
}

.search {
    text-align: center;
}

input[type="checkbox"] {
    position: absolute;
    left: -50vw;
}

input[type="checkbox"]:checked ~ aside {
    /* display: block; */
    left: 0;
}
input[type="checkbox"]:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
input[type="checkbox"]:checked ~  .navIconWrap{
    left: 250px;
}
input[type="checkbox"]:checked ~ .navIconWrap>.navIcon span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .navIconWrap>.navIcon span:nth-child(2){
    opacity: 0;
}
input[type="checkbox"]:checked ~ .navIconWrap>.navIcon span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}

